<md-toolbar color="primary">
  <div class="full-width text-center">
    Aqui va un titulo
  </div>
</md-toolbar>

<md-grid-list cols="3" rowHeight="100px">
  <md-grid-tile colspan="2" rowspan="2"></md-grid-tile>
  <md-grid-tile colspan="1" rowspan="1">
    <button md-raised-button class="half-width" color="accent">Registrarse</button>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="1"></md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>

  <md-grid-tile colspan="1">
    <md-input-container class="full-width">
      <textarea md-input placeholder="Username"></textarea>
    </md-input-container>
  </md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>

  <md-grid-tile colspan="1">
    <md-input-container class="full-width">
      <textarea md-input placeholder="Password"></textarea>
    </md-input-container>
  </md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>

  <md-grid-tile colspan="1">
    <button md-raised-button class="full-width" color="primary">Login</button>
  </md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>

</md-grid-list>
